
# Created by https://www.gitignore.io/api/macos,intellij+all
# Edit at https://www.gitignore.io/?templates=macos,intellij+all

HELP.md
.gradle
build/
log/
gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
src/main/resources/static/**

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


